<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Gaza Freedom Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_home.css') }}">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('posts') }}">Posts</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
</div>

<!-- About Content -->
<div class="header">
    <h2>Blog Project</h2>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>About Us</h2>
            <p>
                The website aims to provide comprehensive and
                balanced information about the ongoing Palestinian
                conflict and the current health crisis in the region.
                It serves as a platform for users to gain insights into
                the historical context, geopolitical aspects, and humanitarian
                aspects of the conflict. Additionally, the website offers up-to-date
                information on the health crisis affecting the Palestinian population,
                including the impact of healthcare challenges and efforts to address
                public health concerns.
            </p>
        </div>
    </div>

   <!-- <div class="rightcolumn"> -->
        <!-- Right column content, if any -->
   <!-- </div> -->
</div>

<!-- Footer -->
<div class="footer">
    <h2>Footer</h2>
</div>

</body>
</html>
